@{
    ViewBag.Title = "Bills in Education Sponsored by: Allison A. Dahle";
}
<h2>@ViewBag.Title.</h2>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style>
        /* Remove the navbar's default rounded borders and increase the bottom margin */
        .navbar {
            margin-bottom: 50px;
            border-radius: 0;
        }

        /* Remove the jumbotron's default bottom margin */
        .jumbotron {
            margin-bottom: 0;
        }

        /* Add a gray background color and some padding to the footer */
        footer {
            background-color: #f2f2f2;
            padding: 25px;
        }
    </style>
</head>
<body>





    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">HB 162 || SB 55</div>
                    <div class="panel-footer"><a href="https://www.ncleg.gov/BillLookUp/2019/H162">Continuing Education for General Contractors</a></div>

                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">HB 183</div>
                    <div class="panel-footer"><a href="https://www.ncleg.gov/BillLookUp/2019/H183">School Calendar Flexibility/Wake County</a></div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">HB 248</div>
                    <div class="panel-footer"><a href="https://www.ncleg.gov/BillLookUp/2019/H248">Restore Longevity for Teachers</a></div>
                </div>
            </div>
        </div>
    </div><br>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">HB 319</div>
                    <div class="panel-footer"><a href="https://www.ncleg.gov/BillLookUp/2019/H319">In State Tuition Equity</a></div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">HB 341</div>
                    <div class="panel-footer"><a href="https://www.ncleg.gov/BillLookUp/2019/H341">North Carolina Sunshine Act</a></div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">HB 359</div>
                    <div class="panel-footer"><a href="https://www.ncleg.gov/BillLookUp/2019/H359">$15/Hour Min. Pay for Noncert Sch. Employees</a></div>
                </div>
            </div>
        </div>
    </div><br>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">HB 408</div>
                    <div class="panel-footer"><a href="https://www.ncleg.gov/BillLookUp/2019/H408">Expand Teaching Fellows Program</a></div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">HB 428 || SB 329</div>
                    <div class="panel-footer"><a href="https://www.ncleg.gov/BillLookUp/2019/H428">K-3 Literacy and Reading Improvement Act</a></div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">HB 457</div>
                    <div class="panel-footer"><a href="https://www.ncleg.gov/BillLookUp/2019/H457">Restore Master's Pay for Certain Teachers</a></div>
                </div>
            </div>
        </div>
    </div><br><br>

  

</body>
</html>
